# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Type checkers
.mypy_cache/
.pytype/
.pyre/

# Virtual environments
venv/
env/
ENV/
.venv

# OS
.DS_Store
Thumbs.db
